<% layout("/layouts/boilerplate.ejs") %>
  <body>
    <div class="row mt-4">
    <div class="col-8 offset-2">
      <h3>Edit your Listing</h3>
      <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">

      <div class="md-3">
        <label for="title" class="form-label">Title</label>
        <input name="listing[title]" value="<%= listing.title %>" type="text" class="form-control" required/>
        <div class="valid-feedback">Title look good!</div>
      </div>
      
      <br />

      <div class="md-3">
        <label for="title" class="form-label">Description</label>
        <textarea name="listing[description]" class="form-control" required ><%= listing.description %></textarea>
        <div class="invalid-feedback">Please add a short description</div>
      </div>
      <br>
      
      <br />
      <div class="md-3">
        <label for="title" class="form-label">Upload New Image</label>
        <input name="listing[image]" type="file" class="form-control" required />
        
      </div>
      
      <br />
      <div class="row">
      <div class="md-3 col-md-4">
        <label for="title" class="form-label">Price</label>
        <input name="listing[price]" value="<%= listing.price %>" class="form-control" type="number"/>
        <div class="invalid-feedback">Please add a valid Price</div>
        
      </div>
      
      <br />
      <div class="md-3 col-md-8">
        <label for="title" class="form-label">Country</label>
        <input name="listing[country]" value="<%= listing.country %>" type="text" class="form-control" required/>
        <div class="invalid-feedback">Please add a valid Country</div>
        
      </div>
    </div>
      <br />
      <div class="md-3">
        <label for="title" class="form-label">Country</label>
        <input name="listing[location]" value="<%= listing.location %>" type="text" class="form-control" required />
        <div class="invalid-feedback">Please add a valid Location</div>
      </div>
      
      <br />
      <button class="btn btn-dark mt-4 mb-3 edit-btn">Edit</button>
      </form>
    </div>
</div>
  </body>
<script src="/js/script.js"></script>


